@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: "Basic";
    font-style: normal;
    font-weight: 400;
    src: local("Basic Regular"), local("Basic-Regular"), url("http://themes.googleusercontent.com/static/fonts/basic/v2/Pqd6s-RedeRT8zQTRwM-ug.woff") format("woff");
}
@font-face {
    font-family: "Signika";
    font-style: normal;
    font-weight: 400;
    src: local("Signika"), local("Signika-Regular"), url("http://themes.googleusercontent.com/static/fonts/signika/v3/_M5k9_BZTkfaM2dnN0vNGw.woff") format("woff");
}
@font-face {
    font-family: "Signika";
    font-style: normal;
    font-weight: 700;
    src: local("Signika-Bold"), url("http://themes.googleusercontent.com/static/fonts/signika/v3/7M5kxD4eGxuhgFaIk95pBRsxEYwM7FgeyaSgU71cLG0.woff") format("woff");
}

.menuList{
		list-style-type: none;
		display: inline;
}

.col-3 {
    margin-left:0px;
	margin-right:15px;
	float:right;
    width:32% !important;
}

.mainName{
	color: #28475D;
	font-size:1.5em;
	font-family:Signika;
	line-height:1.5;
	
}
.mainName2{
	color: #ef8017;
	font-size:1.5em;
	font-family:Signika;
	line-height:1.5;
	
}
.topRigthTxt{
	color: #28475D;
	font-size:1.5em;
	font-family:Signika;
} 
.topRigthTxt2{
	color: #28475D;
	font-size:1.3em;
	font-family:Signika;
	
}